.analyzerpanel {
	position: absolute;
	height: 60%; 
	width: 30%;
	right:0%;
	top:-53.5%;
	bottom:0;
	overflow: auto;
	background-color: #333333;
	transition: all 0.5s;
	z-index: 10;	
	box-shadow: 0 0 2vw #000000;
	cursor: pointer;
}

.headeranalyzer {
	position: relative;
	color: #ededed;
	font-size: 6vh;
	left: 3%;
	top: -10%;
	font-family:  Calibri, Helvetica, sans-serif;
	cursor: default;
	width: 90%
}

.containeranalyzer {
	position:fixed;
	top: -33.3%;
	left: 60%;
	z-index: 11;
	transition: all 0.5s;
		z-index: 10;
}

.selectanalyzer {
	position: relative;
	color: #ededed;
	background-color: rgba(100, 149, 237);
	cursor: pointer;
	top: -12.4vh;
	left: 0.9vw;
	height: 4vh; /* высота секции равна высоте области просмотра */
	width: 10vw;
	margin: 0;
	transition: all 0.5s;
	
}

.selectanalyzer p{
	font-family:  Calibri, Helvetica, sans-serif;
	font-size: 2vh;
	position: relative;
	top: 0.5vh;
	z-index: 10;
	margin: 0;
}

.selectanalyzer:hover {
	background-color: #FFFFFF;
	color: #333333;
}

.selectanalyzerselected{
	background-color: #FFFFFF;
	color: #333333;
}

.analyzegraf {
	position: absolute;
	top: 13%;
	left: 3%;
	background-color: #FFFFFF;
	height: 84%; /* высота секции равна высоте области просмотра */
	width: 94%;
}

.openanalyzer {
	top: 5%;
}

.openselectmenu {
top: 25.2%;
}