
#wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #a9a9a9;
    position: relative;

}

#canvas {
    border: none;
    height: 1500px;
    width: 3000px;
    background: #FFFFFF;
    -moz-transition: transform 0.3s ease, opacity 0.1s ease; /* Для Firefox */
    -webkit-transition: transform 0.3s ease, opacity 0.1s ease; /* Для Safari, Chrome, iOS */
    -o-transition: transform 0.3s ease, opacity 0.1s ease; /* Для Opera */
    transition: transform 0.3s ease, opacity 0.1s ease;
    border-radius: 30px;
    margin: 0;
    position: relative;
    box-shadow: 0 0 100px rgba(100, 149, 237, 0.85);
    zoom: 1;
    /*box-shadow: 0 0 100px rgba(255, 255, 255, 1);*/
}

#canvas.checkered {
    background: linear-gradient(#bdbdbd, transparent 1px), linear-gradient(90deg, #bdbdbd, transparent 1px);
    background-color: #FFFFFF;
    background-size: 15px 15px;
}


