.element {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5px;
    height: 60px;
    font-size: 20px;
}

.element > tr > td {
    padding: 0;
    width: 29px;
}

.solid {
    box-sizing: border-box;
    border: 3px solid #333333;
    text-align: right;
    vertical-align: top;
}

.pin {
    background-color: #333333;
    height: 3px;
    margin-bottom: 27px;
    margin-top: 27px;
}

/*TODO simplify*/
.pin-invert {
    display: inline-block;
    position: absolute;
    background: white;
    height: 8px;
    width: 8px;
    border: 3px solid #333333;
    border-radius: 50%;
    left: 58%;
    top: calc(50% - 7px);
}

.logButton {
    display: inline-block;
    position: absolute;
    padding: 0;
    background-color: white;
    color: rgb(100, 139, 237);
    border: 1px solid rgba(100, 139, 237,0);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    top: -16px;
    font-size: 10px;
    opacity: 0.25;
}

.logButton:hover {
    border: 1px solid rgb(100, 139, 237);
    opacity: 1;
}

.logButton:focus {
    outline: none;

}

.logButton:active {
    outline: none;
    color: white;
    background-color: #333333;
    border: 1px solid #333333;
}

svg path {
    stroke:#333333;
    stroke-width:3;
}

svg path:hover {
    stroke: rgba(100,139,237,1);
}