#elements_pallet .element {
    width: 35px;
}
.element {
    float: left;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    height: 60px;
    width: 105px;
}

.element > tr > td {
    padding: 0;
}

.solid {
    border: 3px solid black;
    text-align: right;
    vertical-align: top;
    width: 41px;
    height: 84px;
}

.pin {
    background-color: black;
    height: 3px;
    margin-bottom: 27px;
    margin-top: 27px;
}

.block-logic {
    position: relative;
    width: 105px;
    height: 90px;
    float: left;
    margin: 5px;
    left:30px;
}

.input-logic-1 {
    position: absolute;
    background-color: black;
    height: 3px;
    width: 30px;
    left: -30px;
    top: 27px;
}

.input-logic-2 {
    position: absolute;
    background-color: black;
    height: 3px;
    width: 30px;
    left: -30px;
    top: 57px;
}

.output-logic {
    position: absolute;
    background-color: black;
    height: 3px;
    margin-bottom: 42px;
    margin-top: 42px;
    width: 30px;
    left: 45px;
}

.output-logic-circle{
    background-color: white;
    position: absolute;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: 3px solid black;
    top: 38px;
    left: 39px;
}