.logic-element {
    margin: 5px;
    float: left;
    border-collapse: collapse;
    table-layout: fixed;
    height: 60px;
    width: 90px;
}

.logic-input {
    padding: 0;
    height: 60px;
}

.logic-solid {
    border: 3px solid black;
    text-align: right;
    vertical-align: top;
    padding: 0;
    height: 24px;
    width: 24px;
}

.logic-output {
    padding: 0;
    height: 30px;
}

.logic-pin {
    background-color: black;
    height: 3px;
    width: 100%;
    margin: 0;
}